.catalog-banner {
  position: relative;
  background-image: url("../img/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  max-width: 280px;
  min-height: 289px;
  display: flex;
  text-align: center;
  align-items: flex-end;
}

.catalog-banner__text {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 20px;
}
