.catalog-more__heading {
  color: var(--basic-black);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.catalog-more__product-name {
  color: var(--special-dark-grey-2);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-more__info-text {
  line-height: 14px;
}

.catalog-more__button {
  color: var(--basic-white);
  background-color: var(--basic-green);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
