.catalog__product-name {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog__product-name-link {
  color: var(--special-dark-grey-2);
}

.catalog__table-text {
  font-size: 12px;
  line-height: 16px;
}

.catalog__button {
  color: var(--basic-white);
  background-color: var(--basic-green);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
