.example {
  background-color: var(--background_grey);
  padding-bottom: 25px;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
}

.example__heading {
  color: var(--basic-black);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__program {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__result-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid var(--special-grey);
  border-radius: 3px;
  width: 124px;
  height: 64px;
  margin-bottom: 30px;
}

.example__result {
  display: block;
  color: var(--basic-black);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__result-info {
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  width: 82px;
  text-align: center;
  top: 55px;
  background-color: var(--background_grey);
}

.example__price-box {
  margin: 0 auto;
}

.example__price {
  color: var(--basic-black);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: @tablet) {
  .example {
    background: linear-gradient(
      0deg,
      var(--background_grey) 74%,
      var(--basic-white) 74%
    );
  }
  .example__wrapper {
    width: 708px;
  }

  .example__heading {
    font-size: 60px;
    line-height: 60px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
  }

  .example__result {
    font-size: 30px;
    line-height: 37px;
  }

  .example__result-info {
    font-size: 14px;
    line-height: 14px;
    width: auto;
    top: 69px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .example__price-box {
    margin: 0;
    flex-grow: 1;
    text-align: end;
  }

  .example__result-box {
    width: 162px;
    height: 77px;
    margin-right: 42px;
  }

  .example__price {
    font-size: 20px;
    line-height: 20px;
  }

  .example__price-cost {
    display: block;
  }
}

@media (min-width: @desktop) {
  .example__wrapper {
    width: 1220px;
    display: flex;
  }

  .example__box {
    width: 36%;
  }

  .example__result-box {
    margin-right: 42px;
  }

  .example__price-box {
    text-align: start;
  }

  .example__price-cost {
    display: inline;
    margin-left: 63px;
  }

  .example__program {
    justify-content: start;
  }
}
