.example {
  background-color: var(--background_grey);
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
}

.example__heading {
  color: var(--basic-black);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__program {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__result {
  display: block;
  color: var(--basic-black);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__result-info {
  font-size: 12px;
  line-height: 12px;
}

.example__price-box {
  margin: 0 auto;
}

.example__price {
  color: var(--basic-black);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: @tablet) {
  .example__wrapper {
    width: 708px;
  }

  .example__price-box {
    margin: 0;
    flex-grow: 1;
    text-align: end;
  }
}

@media (min-width: @desktop) {
  .example__wrapper {
    width: 1220px;
    display: flex;
  }

  .example__box {
    width: 30%;
  }
}
