.example {
  background-color: var(--background_grey);
  padding-bottom: 36px;
  padding-top: 27px;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
}

.example__heading {
  color: var(--basic-black);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 33px;
}

.example__text {
  margin-bottom: 25px;
}

.example__program {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__result-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid var(--special-grey);
  border-radius: 3px;
  width: 122px;
  height: 54px;
  margin-bottom: 20px;
}

.example__result {
  display: block;
  color: var(--basic-black);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__result-info {
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  width: 82px;
  text-align: center;
  top: 47px;
  background-color: var(--background_grey);
}

.example__price-box {
  margin: 0 auto;
}

.example__price {
  color: var(--basic-black);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: @tablet) {
  .example {
    background: linear-gradient(
      0deg,
      var(--background_grey) 462px,
      var(--basic-white) 462px
    );
    padding-bottom: 47px;
  }
  .example__wrapper {
    width: 708px;
  }

  .example__heading {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px;
    margin-bottom: 53px;
  }

  .example__result {
    font-size: 30px;
    line-height: 37px;
  }

  .example__result-info {
    font-size: 14px;
    line-height: 14px;
    width: auto;
    top: 64px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--basic-white);
  }

  .example__price-box {
    margin: 0;
    flex-grow: 1;
    text-align: end;
    padding-top: 13px;
  }

  .example__result-box {
    width: 162px;
    height: 72px;
    box-sizing: border-box;
    margin-right: 42px;
  }

  .example__price {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  .example__price-cost {
    display: block;
    margin-top: 10px;
  }
}

@media (min-width: @desktop) {
  .example {
    padding-top: 4px;
  }

  .example__wrapper {
    width: 1220px;
    display: flex;
  }

  .example__heading {
    margin-bottom: 148px;
  }

  .example__text {
    padding-right: 0px;
    margin-bottom: 70px;
  }

  .example__box {
    width: 439px;
    margin-right: 161px;
  }

  .example__result-box {
    margin-right: 42px;
    margin-bottom: 46px;
  }

  .example__result-info {
    background-color: var(--background_grey);
  }

  .example__price-box {
    text-align: start;
  }

  .example__price-cost {
    display: inline;
    margin-left: 59px;
  }

  .example__program {
    justify-content: start;
  }
}
