.form__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  &--radio {
    color: var(--special-dark-grey-2);
  }

  &--checkbox {
    color: var(--basic-black);
  }
}

.form__input,
.form__textarea {
  color: var(--special-dark-grey);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__legend {
  color: var(--basic-black);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
}

.form__fieldset {
  border: 2px solid var(--basic-green);

  &--thin-frame {
    border: 1px solid var(--special-grey-3);
  }
}

.form__button {
  color: var(--basic-white);
  background-color: var(--basic-green);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.form__text-button {
  color: var(--basic-black);
  line-height: 16px;
}
