.info {
  margin-top: 7px;
  padding-bottom: 22px;
}

.info__wrapper {
  width: 280px;
  margin: 0 auto;
}

.info__heading-text {
  color: var(--basic-black);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 36px;
}

.info__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.info__item {
  padding-left: 80px;
  min-height: 65px;
  margin-bottom: 15px;

  &:nth-child(1) {
    background-image: url("../img/group-1.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/group-1-2x.jpg");
    }
  }

  &:nth-child(2) {
    background-image: url("../img/group-2.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/group-2-2x.jpg");
    }
  }

  &:nth-child(3) {
    background-image: url("../img/group-3.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/group-3-2x.jpg");
    }
  }

  &:nth-child(4) {
    background-image: url("../img/group-4.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/group-4-2x.jpg");
    }
  }
}

.info__text {
  margin: 0;
}

.info__text-br {
  display: none;
}

@media (min-width: @tablet) {
  .info {
    padding-top: 17px;
  }

  .info__wrapper {
    width: 708px;
  }

  .info__heading-text {
    font-size: 60px;
    line-height: 60px;
  }

  .info__text {
    font-size: 16px;
    line-height: 24px;
  }

  .info__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 79px;
  }

  .info__item {
    max-width: 245px;
    padding-top: 147px;
    padding-left: 0;
    position: relative;
    min-height: 134px;
    margin-bottom: 36px;

    &:nth-child(1) {
      background-image: url("../img/group-tablet-1.jpg");
      background-position-y: 35px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/group-tablet-1-2x.jpg");
      }

      &::before {
        position: absolute;
        content: "1";
        font-size: 280px;
        line-height: 280px;
        font-family: "Oswald";
        color: #f2f2f2;
        top: -5px;
        right: 16px;
        z-index: -1;
      }
    }

    &:nth-child(2) {
      background-image: url("../img/group-tablet-2.jpg");
      background-position-y: 35px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/group-tablet-2-2x.jpg");
      }

      &::before {
        position: absolute;
        content: "2";
        font-size: 280px;
        line-height: 280px;
        font-family: "Oswald";
        color: #f2f2f2;
        top: -5px;
        right: -4px;
        z-index: -1;
      }
    }

    &:nth-child(3) {
      background-image: url("../img/group-tablet-3.jpg");
      background-position-y: 35px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/group-tablet-3-2x.jpg");
      }

      &::before {
        position: absolute;
        content: "3";
        font-size: 280px;
        line-height: 280px;
        font-family: "Oswald";
        color: #f2f2f2;
        top: -5px;
        right: -4px;
        z-index: -1;
      }
    }

    &:nth-child(4) {
      background-image: url("../img/group-tablet-4.jpg");
      background-position-y: 35px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/group-tablet-4-2x.jpg");
      }

      &::before {
        position: absolute;
        content: "4";
        font-size: 280px;
        line-height: 280px;
        font-family: "Oswald";
        color: #f2f2f2;
        top: -5px;
        right: -4px;
        z-index: -1;
      }
    }
  }

  .info__text-br {
    display: block;
  }
}

@media (min-width: @desktop) {
  .info {
    padding-top: 35px;
  }

  .info__wrapper {
    width: 1220px;
  }

  .info__list {
    padding-right: 0;
  }

  .info__item {
    max-width: 245px;
    padding-top: 149px;
    padding-left: 0;
  }
}
