.info {
  &__heading-text {
    color: var(--basic-black);
    font-family: "Oswald", Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    padding-left: 80px;
    min-height: 65px;
    display: flex;
    align-items: flex-start;
    &:nth-child(1) {
      background-image: url(../img/group-1.jpg);
      background-repeat: no-repeat;
    }
    &:nth-child(2) {
      background-image: url(../img/group-2.jpg);
      background-repeat: no-repeat;
    }
    &:nth-child(3) {
      background-image: url(../img/group-3.jpg);
      background-repeat: no-repeat;
    }
    &:nth-child(4) {
      background-image: url(../img/group-4.jpg);
      background-repeat: no-repeat;
    }
  }
  &__text {
    margin: 0;
  }
}
