.page-header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-header__nav-item {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;

  a {
    color: var(--basic-black);
  }
}
