/*.page-header__wrapper {
  width: 280px;
  margin: 0 auto;
}*/

.page-header__nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 16px;
  max-width: 280px;
  margin: 0 auto;
}

.page-header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-header__nav-item {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid var(--special-grey-4);

  a {
    color: var(--basic-black);
  }
}

.page-header__nav-menu {
  text-align: center;
}

@media (min-width: @tablet) {
  .page-header__wrapper {
    width: 708px;
    margin: 0 auto;
  }

  .page-header__nav-item--active {
    &::before {
      position: absolute;
      content: " ";
      width: 100%;
      height: 2px;
      bottom: 0;
      background-color: var(--basic-green);
    }
  }

  .page-header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__nav-logo {
    margin: 0;
  }

  .page-header__nav-list {
    display: flex;
  }

  .page-header__nav-item {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 8px;

    &:not(:last-child) {
      margin-right: 34px;
    }
  }

  .burger-nemu {
    display: none;
  }
}

@media (min-width: @desktop) {
  .page-header {
    width: 100%;
    position: absolute;
    z-index: 1;
  }

  .page-header__wrapper {
    width: 1220px;
  }

  .page-header__nav-item {
    font-size: 20px;
    line-height: 30px;
    a {
      color: var(--basic-white);
    }
  }

  .page-header__nav-item--active {
    &::before {
      background-color: var(--basic-white);
    }
  }

  .banner-product__heading,
  .banner-product__slogan {
    width: 414px;
  }
}
