.show-more__big-text {
  color: var(--special-dark-grey-3);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.show-more__small-text {
  font-size: 12px;
  line-height: 16px;
}

.show-more__button {
  color: var(--special_dark-grey);
  background-color: var(--basic-grey);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
