.social__icon-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__icon-item {
  font-size: 0;
}

.social__html-text {
  font-size: 16px;
}
