.social {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.social__icon-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__icon-item {
  font-size: 0;
}

.social__html-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__html-text {
  font-size: 16px;
}

@media (min-width: @tablet) {
  .social {
    flex-direction: row;
    justify-content: space-between;
  }
}
