.social {
  &__icon-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__icon-item {
    font-size: 0;
  }
  &__html-text {
    font-size: 16px;
  }
}
