.training-programs__wrapper {
  width: 280px;
  margin: 0 auto;
}

.training-programs__item {
  background-color: var(--basic-grey);
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  &:first-child {
    background-image: url("../img/cat-back.svg");
    background-repeat: no-repeat;
  }

  &:last-child {
    background-image: url("../img/cat-back-2.svg");
    background-repeat: no-repeat;
  }
}

.training-programs__head-text {
  color: var(--basic-black);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 70px;
}

.training-programs__text {
  border-bottom: 1px solid var(--special-grey-3);
  padding-bottom: 23px;
}

.training-programs__link {
  color: var(--basic-black);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding-right: 50px;
  position: relative;

  &::before {
    position: absolute;
    content: " ";
    width: 24px;
    height: 12px;
    right: 0;
    top: 25%;
    background-image: url("../img/icon_arrow.svg");
  }
}

@media (min-width: @tablet) {
  .training-programs__wrapper {
    width: 708px;
  }

  .training-programs__item {
    margin-bottom: 30px;
    padding-left: 52px;
    padding-right: 275px;
    padding-top: 77px;
    padding-bottom: 53px;
    background-position: 639px 19px;
  }

  .training-programs__head-text {
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 24px;
  }

  .training-programs__text {
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: @desktop) {
  .training-programs__wrapper {
    width: 1220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .training-programs__item {
    max-width: 570px;
    padding-right: 45px;
    background-position: 1px 1px;

    &:nth-child(2n + 1) {
      margin-right: 80px;
    }
  }

  .training-programs__head-text {
    margin-bottom: 73px;
    text-align: center;
  }
}
